<!-- firehose track 7, step 19 - file created 5 aug 17 for solo GenET project edit person details -->

<div class="booyah-box col-10 offset-1">
  
  <h1>Edit Your Person Details</h1>
  <%= simple_form_for @person do |f| %>
    <%= f.input :first_name %>
    <%= f.input :middle_name %>
    <%= f.input :last_name %>
    <%= f.input :sex %>
    <%= f.input :birth_date %>
    <%= f.input :death_date %>
    <%= f.input :father_id %>
    <%= f.input :mother_id %>
    <%= f.input :current_spouse_id %>
    <%= f.input :notes %>
    <br />
    <%= f.submit 'Update', class: 'btn btn-primary' %>
  <% end %>
  
</div>
